nav {
    top: 0;
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row; /* Set flex direction to row */
}

.navbar-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.navbar-button:hover {
    background-color: #0056b3;
}
